// color variables

$color-body: #EEEEEE;
$color-brown: rgb(46,39,34);
$color-heliotrope-gray: #A99BA8;
$color-dark-jungle-green: #1E2019;
$color-black: #000;
$color-white: #fff;


// font sizes
$a-size: clamp(1.5rem, 1.5vw, 2rem);
$p-size: clamp(2rem, 2vw, 3.5rem);
$h1-size: clamp(4rem, 4vw, 7rem);
$h2-size: clamp(3rem,3vw,5.5rem);


// background size 

$parallax-height: 100vh;
